* {
    /* 清除全局内外边距 */
    margin: 0;
    padding: 0;
}
body {
    background: #f3f2ef;
    font-family: sans-serif;
}
.container {
    min-height:100vh;
    background: blueviolet;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 2em;
    background: yellow;
}
.content {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2em;
    background: green;
}
.comic {
    width: 44%;
    margin: 4%;
    float: left;
    /* 居中 */
    text-align: center;
    /* 较深的灰色，区分框区域 */
    background: #e5e8e1;
    /* 采用阴影描绘出边框线 */
    box-shadow: 0 0 1px rgba(0, 0, 0, .2) inset; 
}
/* 指定类下的子元素的样式 */
.comic h1 {
    color: #666;
    font-weight: normal;
    /* 指定文字大小 */
    font-size: 1em;
}
.comic img {
    width: 80%;
}
/* 清除偶数个的元素的左外边距。从而使边框到屏幕以及屏幕到边框的距离均相等 */
.comic:nth-child(even){
    margin-left: 0;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    width: 100%;
    height: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}